.tile-container {
  border-bottom: 1px solid;
  color: black;
  opacity: 2;
  margin: 50px;
}
.single-hotel-tile {
  margin: 20px;
  max-width: 45em;
}
.hotel-link {
  text-decoration-line: none;
  color: black;
  cursor: pointer;
}
.review-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.review-author-box {
  display: flex;
}
