.tile-container{
    border: 2px solid yellow;
    color: white;
    opacity: 2;

    margin: 50px;
}
.single-hotel-tile{
    margin: 20px;

}
.hotel-link{
    text-decoration-line: none;
    color: white;
    cursor: pointer;
}
