.tile-container{
    border-bottom: 1px solid;
    color: black;
    opacity: 2;

    margin: 50px;
}
.single-hotel-tile{
    margin: 20px;

}
.hotel-link{
    text-decoration-line: none;
    color: black;
    cursor: pointer;
}
